.customcolor, .aw-panel-header,.aw-panel-header-placeholder{
    background-color:#ee0000 !important;
}
/* iPhone < 5: */
@media screen and (device-aspect-ratio: 2/3) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"],input[data-role="dropdownlist"], input[class="k-textbox"]{ font-size: 16px !important; }
}

/* iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"], input[data-role="dropdownlist"], input[class="k-textbox"]{ font-size: 16px !important; }
}

/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
@media screen and (device-aspect-ratio: 375/667) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"],input[data-role="dropdownlist"], input[class="k-textbox"]{ font-size: 16px !important; }
}

/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@media screen and (device-aspect-ratio: 9/16) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"],input[data-role="dropdownlist"], input[class="k-textbox"]{ font-size: 16px !important;}
}

.km-nova .km-accent.k-toolbar, .km-nova .km-accent.km-navbar, .km-nova .km-accent.km-tabstrip, .km-nova .km-drawer .km-listview li.km-state-active:before, .km-nova .km-vertical-tabstrip .km-button.km-state-active:before {
    background: #ee0000;
}

.bluebutton{
 color: #157fcc !important;
 font-weight: bold !important;
}

.greenbutton{
 color: #61ba9e !important;
 font-weight: bold !important;
}

.redbutton{
 color: #d9534f !important;
 font-weight: bold !important;
}

.goldbutton{
 color: #FFC90E !important;
 font-weight: bold !important;
}

.orangebutton{
 color: #F15A24 !important;
 font-weight: bold !important; 
}

.YesFavourite{
 color: #FF9C00 !important;
 font-weight: bold !important;
}

.thinrows .k-grid-content > table > tbody > tr > td {
    padding-top:0px !important;
    padding-bottom:0px !important;
    line-height:1.5em !important;
    
}
.thinrowsmain .k-grid-content > table > tbody > tr > td {
    padding-top:0px !important;
    padding-bottom:0px !important;
    line-height:1.5em !important;
    
}
.thinrowsmain .k-filtercell>.k-operator-hidden{
    padding: 0px !important;
}
.thinrowsmain .k-button-icon{
    Display: none !important;

}
.thinrowsmain .k-autocomplete{
    width:100% !important;
}

.thinrowsmobile .k-grid-content{
        height: auto !important;

}
.thinrowsmobile .k-grid-content > table > tbody > tr > td {
    padding-top:0px !important;
    padding-bottom:0px !important;
    line-height:2.5em !important;
    
}
.thinrowsmobile .k-filtercell>.k-operator-hidden{
    padding: 0px !important;
}
.thinrowsmobile .k-button-icon{
    Display: none !important;

}
.thinrowsmobile .k-autocomplete{
    width:100% !important;
}


.k-state-selected{
    color: #fff;
    background-color:#ee0000 !important;
    border-color:#ee0000 !important;
}

.k-tabstrip-items .k-state-default .k-link {
    color:#ee0000 !important;
}


/* Vertical Fields Spacing on Forms*/
.aw-form .form-inline .form-group, .form-inline .k-grid {
margin-bottom: .5em !important;
}

.thinbuttons {
height: 20px !important;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
box-sizing: border-box;
}

.buttons_no_borders{
    height: 15px !important;
    border-width: 0px !important;
    border-style: none !important;
    background-color:transparent !important;
    margin: 0px !important;
    padding: 0px !important;
    color:#ee0000 !important;
    vertical-align: middle;
    align-content: center;
}

.thinmenu {
height:35px;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
box-sizing: border-box;
}

.thinmenubuttons {
line-height: 10em;
padding:0px 5px;
margin:0px;
transform: translate(0,-20%);
box-sizing: border-box;
}
.thinmenubuttons_right {
    line-height: 10em;
    padding:0px 5px;
    margin-top:8px !important;
    transform: translate(0,-20%);
    box-sizing: border-box;
    float:right;
    }

.thintopbar{
height:35px;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
box-sizing: border-box;
}
.thintopbarbuttons {
height:100% !important;
margin:auto;
box-sizing: border-box;
    padding-bottom: 10px;
}
.thintopbarbuttons>.k-link{
    padding: .5em 1.2em 1.1em !important;
    }

.thintopbarbuttons_tiny {
    padding-top:.4em;
    margin:0px;
    transform: translate(0,-20%);
    height: 100% !important;
    box-sizing: border-box;
    border-top-width: 0px !important;
    border-bottom-width: 0px !important;
    border-left-width:0px !important;
    border-radius: 0px !important;
    background-color: transparent;
    }

.thintopbarbuttons_tiny>.k-link{
    padding: .5em .5em .5em !important;
    }
.thinseparators {
padding:0px !important;
margin:0px !important;
border-width:0px !important;
}

/*
.mobilelogmaster {
    width:98%;
}
*/
.mobilelogmaster .k-radio-label{
    font-size:20px;
}



.mobilelogmaster .k-checkbox{
    width:25px;
    height:25px;
    margin-left:85px;
}

.noborderseparator {
   border-width:0px; 
}

.thinforms {
padding:0px 0px 0px 0px;
margin:0px;
}

#clienttypeselection {
    padding-left: 25px !important;
}

/*-------------------------------------------------------*/
/* Header Components */
/*-------------------------------------------------------*/
.custompage {
    background-color: #262626 !important;
    position:absolute !important;
}

.bannerheader {
    background-color: gainsboro;
    background-position: left;
    background-repeat:repeat; 
    height: 100px;
    position:absolute !important;
    width:100% !important;
    border-width: 0px !important;
}

.bannerheaderrow {
    width: 1140px;
    margin: 0 auto;
    box-sizing: border-box !important;
}

.bannerheaderlogo {
    height: 80px;
    width: auto;
    float: right !important;
    margin: 12.5px 20px 0px 0px; 
}

.bannerheaderlinks{
    float: left;
    list-style: none;
    margin-top: 70px;
}

.bannername{
    font-size:15px;
}

.bannerheaderlinks li {
    display: inline-block;
    margin-left: 40px;
}

.bannerheaderlinks li a:link,
.bannerheaderlinks li a:visited {
    padding: 8px 0;
    color: #000;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.bannerheaderlinks li:hover,
.bannerheaderlinks li:active {
    border-bottom: 2px solid #ee0000;    
}

/*-------------------------------------------------------*/
/* Mobile Header Components */
/*-------------------------------------------------------*/

.bannerheadermobile {
    background-color: gainsboro;
    background-position: left;
    background-repeat:repeat; 
    max-height: 75px !important;
    min-height: 50px;
    position:absolute !important;
    width:100% !important;
    border-width: 0px !important;
}
.bannerheaderrowmobile{
    width: 100%;
    margin:0px;
}
.bannerheaderrowlogomobile {
    display: inline-block;
    width: 50%;
    margin-top: 0px;
}

.bannerheaderlinksmobile{
    max-height: 75px;
    width: 50%;
    margin-top: 10px;
    float: left;
    list-style: none;
    box-sizing: border-box !important;
    padding-inline-start: 10px;
}
.bannerheaderlinksmobile li {
    display: inline-block;
    font-size:13px;
    box-sizing: border-box !important;
}
.bannerheaderlinksmobile li a:link,
.bannerheaderlinksmobile li a:visited {
    padding:0px;
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
.bannerheaderlinksmobile li:hover,
.bannerheaderlinksmobile li:active {
    border-bottom: 2px solid #ee0000;    
}

.bannerheaderlogomobile{
    max-height: 45px !important;
    width:auto;
    float: right !important;
    margin: 5px 5px 0px 0px;
    box-sizing: border-box !important;
}

/*-------------------------------------------------------*/
/* Nav Components */
/*-------------------------------------------------------*/

.navbar {
    background-color: #262626;
    height: 50px;
    width:100%;
    margin:0px;
    position:absolute !important;
    top:175px;
    border-style: none;
    border-width: 0px;
    border-radius: 0px;                                                 
    
}

.navrow {
    width: 1140px;
}

.navlinks{
    list-style: none;
    margin-top: 17;
    margin-right: 370px;
}

.navlinks li {
    display: inline-block;
    margin-left: 40px;
}

.navlinks li a:link,
.navlinks li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.navlinks li a:hover,
.navlinks li a:active {
    border-bottom: 2px solid #03A9F4;    
}

/*-------------------------------------------------------*/
/* Progress Bars */
/*-------------------------------------------------------*/

.progress {
    margin-top:2.5px;
    position: relative;
	height: 25px;
}
.progress > .progress-type {
	position: absolute;
	left: 0px;
	font-weight: 800;
	padding: 3px 30px 2px 10px;

}
.progress > .progress-completed {
	position: absolute;
	right: 0px;
	font-weight: 800;
	padding: 3px 10px 2px;
}

.progress >.progress-bar{
    background-color:lightslategrey;
}



/*-------------------------------------------------------*/
/* Progress Circle */
/*-------------------------------------------------------*/

.dashboard-list{
    float:left;
    margin-right: 50px;
}

.progress-circle{
    width: 150px;
    height: 150px;
    line-height: 150px;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
    box-sizing: border-box;
}

.progress-circle > span{
    width: 100%;
    height: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress-circle .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 100%;
    box-sizing: border-box;
}

.progress-circle .progress-bar-week{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 100%;
    box-sizing: border-box;
}
.progress-circle .progress-right{
    top:0;
    right:0;
}
.progress-circle .progress-right .progress-bar{
    left: 0%;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top: 0;
    border-top-color: transparent;
    -webkit-transform-origin: top;
    transform-origin: top;
    animation: loading-1 .8s linear forwards;
}

.progress-circle .progress-right .progress-bar-week{
    left: 0%;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top: 0;
    border-top-color: transparent;
    -webkit-transform-origin: top;
    transform-origin: top;
    animation: loading-2 .8s linear forwards;
}

.progress-circle .progress-value{
    width: 100%;
    height: 50%;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    border-style:solid;
    border-width: 12px;
    border-bottom:0;
    border-color:lightgray;
    font-size: 24px;
    color: #44484b;
    line-height: 135px;
    text-align: center;
    box-sizing: border-box;

}
.progress-circle .progress-name{
    width: 100%;
    height: 50%;
    background: none;
    font-size: 24px;
    color: #44484b;;
    line-height: 135px;
    text-align: center;
    top:15px;
}

.progress-circle .progress-value1{
    width: 100%;
    height: 50%;
    background: none;
    font-size: 24px;
    color: #44484b;;
    line-height: 135px;
    text-align: center;
    top:15px;
}
.progress-circle .progress-value2{
    width: 100%;
    height: 50% !important;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom:0;
    background: none;
    color: #44484b;;
    text-align: center;
}
.progress-circle.blue .progress-bar{
    border-color: #049dff;
}
.progress-circle.blue .progress-bar-week{
    border-color: #049dff;
}/*
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}*/
.progress-circle.yellow .progress-bar{
    border-color: #fdba04;
}
.progress-circle.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress-circle.pink .progress-bar{
    border-color: #ed687c;
}
.progress-circle.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress-circle.green .progress-bar{
    border-color: #1abc9c;
}
.progress-circle.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}

@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}

/*-------------------------------------------------------*/
/* Progress Circle little circle*/
/*-------------------------------------------------------*/


.progress-circle-small{
    width: 126px;
    height: 126px;
    /*line-height: 75px;*/
    margin: 0 auto;
    box-shadow: none;
    position: relative;
    box-sizing: border-box;
}

.progress-circle-small > span{
    width: 100%;
    height: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress-circle-small .progress-bar-small{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 100%;
    box-sizing: border-box;
}
.progress-circle-small .progress-right-small{
    top:0;
    right:0;
    border-width: 6px;
}
.progress-circle-small .progress-right-small .progress-bar-small{
    left: 0%;
    border-bottom-left-radius: 67.2px;
    border-bottom-right-radius: 67.2px;
    border-top: 0;
    border-top-color: transparent;
    border-width:6px;
    -webkit-transform-origin: top;
    transform-origin: top;
    animation: loading-5 .8s linear forwards;
}


.progress-circle-small .progress-small-value{
    width: 100%;
    height: 50%;
    border-top-left-radius: 67.2px;
    border-top-right-radius: 67.2px;
    border-style:solid;
    border-width: 6px;
    border-bottom:0;
    border-color:lightgray;
    font-size: 12px;
    color: #44484b;
    line-height: 3.4em;
    text-align: center;
    box-sizing: border-box;

}


.progress-circle-small .progress-small-value1{
    width: 100%;
    height: 50%;
    background: none;
    font-size: 12px;
    color: #44484b;;
    text-align: center;
}
.progress-circle-small .progress-small-value2{
    width: 100%;
    height: 50% !important;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom:0;
    line-height: 1.5em;
    background: none;
    color: #44484b;;
    text-align: center;
}
.progress-circle-small.blue .progress-bar-small{
    border-color: #049dff;
}
.progress-circle-small.red .progress-bar-small{
    border-color: #ff0404;
}/*
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}*/
.progress-circle-small.yellow .progress-bar-small{
    border-color: #fdba04;
}
.progress-circle-small.yellow .progress-left-small .progress-bar-small{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress-circle-small.pink .progress-bar-small{
    border-color: #ed687c;
}
.progress-circle-small.pink .progress-left-small .progress-bar-small{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress-circle-small.green .progress-bar-small{
    border-color: #1abc9c;
}
.progress-circle-small.green .progress-left-small .progress-bar-small{
    animation: loading-5 1.2s linear forwards 1.8s;
}


/*-------------------------------------------------------*/
/* Body Components */
/*-------------------------------------------------------*/
.pagebackground {
    background-color: gainsboro !important;
    width:100%;
    margin: 0px !important;
    padding: 0px !important;
    border-style: none !important;
    border-width: 0px !important;
    
}
.maindataareatop {
    background-color: white;
    height: 250px !important;
    transform: translate(17.5%) !important;
    width: 75% !important; 
}
.maindataarea {
    background-color: white;
    transform: translate(17.5%) !important;
    width: 75% !important;

}
.largenavbody {
    background-color: #171717; 
    height: 300px;
    width:380px !important;
    float:left;
    margin: 0px !important;
    padding: 0px !important;
}

.largenav {
    width:380px !important;
    margin: 0px !important;
    padding: 0px !important;
    
}
.largenavrow {
    width:380px !important;
    margin: 0px !important;
    padding: 0px !important;
}

.largenavlinks {
    list-style: none !important;
    width:380px !important;
    margin: 0px !important;
    padding: 0px !important;
    box-sizing: border-box !important;
}

.largenavlinks li {
    height: 100px !important;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    border-top-width: 2px;
    margin: 0px !important;
    padding: 0px !important;
    box-sizing: border-box !important;
    text-align: center !important;
    line-height: 100px !important;
    font-size: 35px !important;
    color: #676767;
}

.largenavlinks li a:link,
.largenavlinks li a:visited {
    padding: 8px 0;
    color: #676767;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.largenavlinks li a:hover,
.largenavlinksli a:active {
    border-bottom: 2px solid #CF4A2D;    
}

.mobile_tech_buttons_menu{
    height: 60px;
    
}

.mobile_tech_buttons_menu>.k-overflow-anchor {
  
    display:none;
}
.mobile_tech_buttons{
    height: 60px;
    background-color: green;
    padding-top: 18px;
    width: 98%;
    margin-left:1%;
    color:#FFFFFF;
}

.mobile_tech_buttons_co{
    height: 60px;
    background-color: green;
    padding-top: 18px;
    width: 98%;
    margin-left:1%;
    color:#FFFFFF;
}
.driver_buttons_list li{
    margin-top: 10px;

    width:100%;
}


/*-------------------------------------------------------*/
/* Data Components */
/*-------------------------------------------------------*/

.dataquerygrid {
    transform: translate(17.5%,-75vh);
    width: 75%;
    z-index: auto;
    position: fixed;
}

/*-------------------------------------------------------*/
/* Slider Components */
/*-------------------------------------------------------*/

.slider {
	overflow: hidden;
    background-color:#171717;
    border-width: 0px;
    -ms-overflow-style: none;
    width:760px;
    height:300px; 
}
.slider::-webkit-scrollbar {
  display: none;
}

.figure {
    background-color:transparent;
	position: relative;
	width: 300%;
    margin:0;
	animation: 20s slider infinite;
}

.figure img {
	width: 33.3333333%;
    display: block;
    margin-left: auto;
    margin-right: auto;
	float: left;
    object-fit: cover;
    
}




@keyframes slider {
	0% {
		left: 0;
	}
	16.66% {
		left: 0;
	}
	33.33% {
		left: -100%;
	}
	49.99% {
		left: -100%;
	}
	66.66% {
		left: -200%;
	}
    83.33% {
		left: -200%;
	}
}

/*-------------------------------------------------------*/
/* Slider Backup 
    
@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}
*/
/*-------------------------------------------------------*/

/*-------------------------------------------------------*/
/* Inventory Slider */
/*-------------------------------------------------------*/


.inventoryslider {
	overflow: hidden;
    background-color:#171717;
    border-width: 0px;
    -ms-overflow-style: none;
    width:100% !important;
    height:250px !important;
}
.inventoryslider::-webkit-scrollbar {
  display: none;
}

.inventoryfigure {
    background-color:transparent;
	position: relative;
	width: 100%;
    margin:0;
	animation: 40s inventoryslider infinite;
}
.logmaster_imagegallery{
    background-color: grey;
    margin-bottom:15px;
}
.logmaster_images
{
width:120px;
height:120px;
float:left;
padding:5px;
box-sizing: border-box;
border-width: 1px;    
}
.logmaster_images img { 
    height:115px !important;
    width:115px;
    object-fit: cover !important;
}
.itemmastergallery{
    min-height: 250px;
}
.inventorypicturecontainer {
    height: 160px !important;
    width: 160px !important;
    margin-top: 5px !important;
    float: left !important;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    
    
}

.inventorypicturecontainer img { 
    height:160px !important;
    width:160px !important;
    object-fit: cover !important;
}

.inventorypicturecontainerlarge {
 
}

.inventorypicturecontainerlarge img {
    height: 600px !important;
    width: 600px !important; 
    object-fit: cover !important;
}
.inventorypicturecontainerlargeMobile{

}

.inventorypicturecontainerlargeMobile img {
    width: 300px !important;
    object-fit: cover !important;
}

.inventorytext {
    text-align: center;
    height:30px !important;
}
.inventorydescription {
    color:#666666;
    font-size: 11px;
}

.inventoryprice {
    color:#CD4A2D;
    font-size: 18px;
}

@keyframes inventoryslider {
	0% {
		left: 0;
	}
	10% {
		left: 0;
	}
	20% {
		left: 10%;
	}
	30% {
		left: 20%;
	}
	40% {
		left: 30%;
	}
	50% {
		left: 40%;
	}
	60% {
		left: 30%;
	}
    70% {
		left: 20%;
	}
    80% {
		left: 10%;
	}
    90% {
		left: 0%;
	}
    100% {
		left: 0%;
	}
	
	
	
}